@media (max-width: 900px) {
    .grid-layout {
      grid-template-columns: 1fr;
    }
  
    nav {
      display: flex;
      flex-wrap: wrap;
    }

    .header-inner {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
      }
    
      .main-nav ul {
        flex-wrap: wrap;
        gap: 1rem;
      }

  }
  